<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Titulo</th>
			<th>Director</th>
			<th>Sinopsis</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each ="pelicula : ${peliculas}">
			<td th:text="${pelicula.id}"></td>
			<td th:text="${pelicula.titulo}"></td>
			<td th:text="${pelicula.director}"></td>
			<td th:text="${pelicula.sinopsis}"></td>
		</tr>
	</tbody>
</table>
<a href th:href="@{/}">nueva pelicula</a>
</body>
</html>